<h2 class="other-headers">Confirmed Ride-Shares!</h2>
<ul>
  <% @user.confirmed_landings.each do |confirmed_landing| %>
    <li class="page-text">Your trip details:
      <%= confirmed_landing.airport.abbreviation %> -
      <%= confirmed_landing.arrival_date.strftime("%b %d, %Y") %> -
      <%= confirmed_landing.arrival_time.strftime("%I:%M %p") %>
    </li>
    <ul>
      <li class="page-text">
        <%= link_to "View ride confirmation page", ride_path(confirmed_landing.ride), :class => "page-text" %>
      </li>
      <li class="page-text">
        <%= link_to "Cancel rideshare", user_landing_path(@user, confirmed_landing), method: :delete, data: {:confirm => "Are you sure you want to cancel this rideshare?"}, :class => "page-text" %>
      </li>
    </ul>
  <% end %>
</ul>
