<div class="row">
  <div class="col-md-6">
    <h3>Pending Ride-Shares</h3>
  </div>
</div>

<% @user.pending_landings.each do |landing| %>
  <% matched_landing = landing.get_pending_match %>
  <% matched_user = matched_landing.user %>
  <div class="row">
    <div class="col-md-6">
      <h4 id="h4-inline-block"><%= matched_user.first_name %>: <%= matched_landing.arrival_time.strftime("%I:%M %p") %></h4>
      <span>
        <%= form_for([@user, landing], :html=>{:id=> "inline-form"}) do |f| %>
          <%= f.hidden_field :status, :value => "complete" %>
          <%= f.submit "Accept", :class => "btn btn-sm btn-success" %>
        <% end %>
      </span>
      <span>
        <%= form_for([@user, landing], :html=>{:id=> "inline-form"}) do |f| %>
          <%= f.hidden_field :status, :value => "available" %>
          <%= f.submit "Reject", :class => "btn btn-sm btn-danger"  %>
        <% end %>
      </span>
    </div>
  </div>
<% end %>