<h4 class="other-headers">Your Pending Matches<span class="tblue">.</span></h4>
<ul>
  <% @user.requested_landings.each do |l| %>
    <li class="ride-user-font"><strong>Your trip details:</strong>
      <%= l.airport.abbreviation %> -
      <%= l.arrival_date.strftime("%b %d, %Y") %> -
      <%= l.arrival_time.strftime("%I:%M %p") %>
    </li>
    <h5 class="ride-user-font" style="padding-top: 3px;"><%= l.get_acceptor.first_name %> has not responded to your request yet.</h5>
    <h5 class="page-text"><%= link_to "Cancel this flight", user_landing_path(@user, l), method: :delete, data: {:confirm => "Are you sure you want to cancel this landing?"} %></h5>
  <% end %> 
</ul> 