<div class="row">
  <div class="col-md-12 center-container">
    <div class="in-line-container">
      <%= form_for @user do |f| %>
        <%= f.label :first_name %>
        <%= f.text_field :first_name, :class => "form-control"%><br>

        <%= f.label :last_name %>
        <%= f.text_field :last_name, :class => "form-control" %><br>

        <%= f.label :phone_number, "Phone number, only digits please!" %>
        <%= f.text_field :phone_number, {:class => "form-control", :placeholder => "5555555555"} %><br>

        <%= f.submit "Submit", :class => "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>