<h1>Sign Up</h1>

<%= form_for @user, {:id => 'userForm'} do |f| %>
  <%= f.label :first_name %>
  <%= f.text_field :first_name %><br>

  <%= f.label :last_name %>
  <%= f.text_field :last_name %><br>

  <%= f.label :phone_number %>
  <%= f.text_field :phone_number, :class => "form-control" %>

  <%= f.submit %>
<% end %>
