<%= form_for @user, {:id => 'userForm'} do |f| %>
  <%= f.label :first_name %>
  <%= f.text_field :first_name %><br>

  <%= f.label :last_name %>
  <%= f.text_field :last_name %><br>

  <%= f.label :phone_number %>
  <%= f.text_field :phone_number, :class => "form-control" %>

  <%= f.submit %>
<% end %>
<!-- <input type="text" class="form-control bfh-phone" data-format="+1 (ddd) ddd-dddd"> -->
<!-- <form id="phoneForm" class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-3 control-label">Phone number</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" name="phoneNumber" />
        </div>
    </div>
</form> -->