  <div class="hero inner-page">
    <div class="container">
      <div class="intro">
        <h2 style="padding-left: 30px;">SIGN UP<span class="tblue">.</span></h2>
      </div>
    </div>
  </div>
</div>
</div>
<div class="container" style="padding-top: 30px; padding-left: 60px;">
  <div class="comment-form">
    <div class="page-title text-center">
      <h3 class="welcome-user">Make Your Profile</h3><br>
      <%= form_for @user, :html => {:class => "form-horizontal"} do |f| %>
        <div class="form-group">
          <%= f.label :first_name, :class => "col-sm-5 control-label ride-user-font" %>
          <div class="col-sm-3">
            <%= f.text_field :first_name, :class => "form-control ride-user-font"%><br>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :last_name, :class => "col-sm-5 control-label ride-user-font" %>
          <div class="col-sm-3">
            <%= f.text_field :last_name, :class => "form-control ride-user-font" %><br>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :phone_number, "Phone number, only digits please!", :class => "col-sm-5 control-label ride-user-font" %>
          <div class="col-sm-3">
            <%= f.text_field :phone_number, {:class => "form-control ride-user-font", :placeholder => "5555555555"} %><br>
          </div>
        </div>

        <h3><%= f.submit "SIGN UP", :class => "btn btn-primary page-text" %></h3>
      <% end %>
    </div>
  </div>
</div>
<br>
<br>
<br>