<h1>Welcome <%= @user.first_name %>!</h1>
<h3>Pending Ride-Shares</h3>
<ul>
  <% @user.pending_landings.each do |landing| %>
  <% matched_user = landing.get_pending_match.user %>
    <li><%= matched_user.first_name %>: <%= matched_user.arrival_time %></li>
  <% end %>
</ul>

<h3>Destinations</h3>
<ul>
  <% @user.destinations.each do |destination| %>
    <li><%= destination.name %>: <%= destination.address %></li>
  <% end %>
</ul>

<h3>Make a New Destination</h3>
<%= form_for @destination do |f| %>
  <%= f.hidden_field :user_id, :value => @user.id %><br>

  <%= f.label :name %>
  <%= f.text_field :name %><br>

  <%= f.label :address %>
  <%= f.text_field :address %><br>

  <%= f.submit %>
<% end %>