<h1>Welcome <%= @user.first_name %>!</h1>

<% if @user.pending_landings.size > 0 %>
  <h3>Pending Ride-Shares</h3>
  <ul>
    <% @user.pending_landings.each do |landing| %>
    <% matched_landing = landing.get_pending_match %>
    <% matched_user = matched_landing.user %>
      <li><%= matched_user.first_name %>: <%= matched_landing.arrival_time %></li>

      <%= form_for([@user, landing]) do |f| %>
        <%= f.hidden_field :status, :value => "complete" %>
        <%= f.submit "Accept" %>
      <% end %>

      <%= form_for([@user, landing]) do |f| %>
        <%= f.hidden_field :status, :value => "available" %>
        <%= f.submit "Reject" %>
      <% end %>
    <% end %>
  </ul>
<% end %>

<h3>Destinations</h3>
<ul>
  <% @user.destinations.each do |destination| %>
    <li><%= destination.name %>: <%= destination.address %></li>
  <% end %>
</ul>

<h3>Make a New Destination</h3>
<%= form_for @destination do |f| %>
  <%= f.hidden_field :user_id, :value => @user.id %><br>

  <%= f.label :name %>
  <%= f.text_field :name %><br>

  <%= f.label :address %>
  <%= f.text_field :address %><br>

  <%= f.submit %>
<% end %>
<br>
<br>
<%= link_to "Find A Buddy To Leave The Airport!", new_user_landing_path(@user) %>