  <div class="hero inner-page">
    <div class="container">
      <div class="intro">
      <h2 style="padding-left: 30px;">RIDE<span class="tblue">-</span>SHARE CONFIRMATION PAGE<span class="tblue">.</span></h2>
      </div>
    </div>
  </div>
</div>

<div class="container" style="padding-top: 30px; padding-left: 60px;">
  <div class="row">
    <div class="page-title">
      <h3 class="welcome-user"> <strong>Matched Ride Buddies</strong></h3>
      <br>
      <% @ride.landings.each do |landing| %>
        <% if current_user == landing.user %>
          <div class="col-md-6">
            <h4 class="other-headers">YOUR FLIGHT DETAILS<span class="tblue">:</span></h4>
            <div class="ride-user-font">
              <br>
              <ul>
                <li><strong>ARRIVAL AT AIRPORT:</strong> <%= landing.airport.abbreviation %></li>
                <li><strong>AIRLINE:</strong> <%= landing.airline %></li>
                <li><strong>ARRIVAL TIME:</strong> <%= landing.arrival_time.strftime("%I:%M %p")  %></li>
                <li><strong>FLIGHT NUMBER:</strong> <%= landing.flight_num %></li>
              </ul>
              <br>
              <% if landing.arrival_time < landing.get_confirmed_match.arrival_time && landing.user == current_user %>
                <h3><a href="https://m.uber.com/sign-up?client_id=<%= ENV["UBER_CLIENT_ID"] %>&first_name=<%= landing.user.first_name %>&last_name=<%= landing.user.last_name %>&country_code=us&mobile_country_code=%2B1&mobile_phone=<%= landing.user.phone_number %>&product_id=b8e5c464-5de2-4539-a35a-986d6e58f186&pickup_latitude=<%= landing.airport.latitude %>&pickup_longitude=<%= landing.airport.longitude %>&pickup_nickname=<%= landing.airport.abbreviation %>&dropoff_latitude=<%= landing.destination.lat %>&dropoff_longitude=<%= landing.destination.long %>&dropoff_nickname=<%= landing.destination.name.gsub(" ", "%20") %>&dropoff_address=<%= landing.destination.address.gsub(" ", "%20") %>%20NY"><div class="btn btn-primary page-text">Arrived at Airport - Get My Uber Ride Here!</div></a></h3>
              <% else %>
                <h5 class="page-text">You're Buddy will arrive airport before you. They will get the Uber ride, contact them when you land!</h5>
              <% end %>
            </div>
          </div>
        <% else %>
          <div class="col-md-6 pull-right">
            <h4 class="other-headers"><%= landing.user.first_name %><span class="tblue">'</span>s Flight Details<span class="tblue">:</span></h4>
            <div class="ride-user-font">
              <br>
              <ul>
                <li><strong>Arrival Airport:</strong> <%= landing.airport.abbreviation %></li>
                <li><strong>Airline:</strong> <%= landing.airline %></li>
                <li><strong>Arrival Time:</strong> <%= landing.arrival_time.strftime("%I:%M %p")  %></li>
                <li><strong>Flight Number:</strong> <%= landing.flight_num %></li>
              </ul>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <br>
    <br>
      <br>

  <% if current_user %>
    <div class="row">
      <div class="col-md-12">
        <h3><%= link_to "Back to your profile", user_path(current_user), :class => "link-text" %></h3>
      </div>
    </div>
  <% end %>
</div>
<br>
<br>
<br>
