<!DOCTYPE html>
<html>
<head>
  <title>Fly-n-Ryde</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <!-- Top Starts -->
  <!-- <div class="top"> -->
    <div class="top">
    <%= render "layouts/nav_bar" %>
    <div class="container">
      <%= yield %>
    </div>
  </div>
</body>
</html>
