<!DOCTYPE html>
<html>
<head>
  <title>Fly-n-Ryde</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body id="fix">

  <div class="top" id="my-top" style="background: url('nyc4.JPG'); background-size: cover; background-position: 0% 57%; border-bottom: 1px solid #000;">

    <%= render "layouts/nav_bar" %>
    <%= render "layouts/notice" %>
    <%= render "layouts/error" %>

      <%= yield %>

    <!-- Footer starts -->
    <footer id="foot-fix">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
          </div>
          <div class="col-xs-4">
            <div class="footer-link text-center">
              <h5><%= link_to "FLY-N-RYDE HOME", root_url %></h5>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="footer-link text-center">
              <h5><%= link_to "ABOUT US", about_path %></h5>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="footer-link text-center">
              <h5><%= link_to "PRIVACY POLICY", privacy_path %></h5>
            </div>
          </div>
          <div class="col-md-2"></div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h5 class="text-center">Made with <span class="glyphicon glyphicon-heart" aria-hidden="true" style="color:red;"></span> At The Flatiron School, NYC</h5>
          </div>
        </div>
        
        <div class="row">
          <div class="col-md-12">
            <hr>
            <div class="copy text-center">
              &copy; 2013 <a href="#">Fasi</a> - Designed by <a href="http://responsivewebinc.com/bootstrap-themes">Bootstrap Themes</a>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- Footer Ends -->
  </body>
</html>